@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 16px;
    margin-top: .5rem;
    background-color: #FFCC01;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;


}

h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #1C1903;
    text-align: center;
}

.logo {
    max-width: 250px;

}

.slider-page {
    background-color: white;
    height: 400px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}